.page-navigation {
    display: flex;
    justify-content: center;
}

.page-navigation__current-page {
    margin-right: 48px;
}

.page-navigation__list {
    display: flex;
    margin-left: 5px;
}

.page-navigation__item {

    font-weight: 700;
}

.page-navigation__item {
    position: relative;
}

.page-navigation__item::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -10px;
    width: 30px;
    height: 30px;
    z-index: -10;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
}

.page-navigation__item:hover::after {
    opacity: 1;
    transition: all .3s linear;
}

.page-navigation__item:hover {
    color: #f5170e;
    cursor: pointer;
    transition: all .3s linear;
}

.page-navigation__item:not(:last-child) {
    margin-right: 24px;
}
