@import url("./general.css");
@import url("./page-navigation.css");

body {
    background: url("./../../img/bg/bg-news.png") no-repeat;
    background-position: bottom 100px center;
}
/* HEADER  */
.header {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
}

.header-row {
    display: flex;
    align-items: center;
}

.navigation {
    margin-left: 79px;
}

.navigation__list {
    display: flex;
    font-size: 14px;
}

.navigation__item:not(:last-child) {
    padding-right: 54px;
}

.navigation__link:hover {
    color: #f5170e;
    transition: color .3s linear;
}

.dropdown {
    position: relative;
    margin-left: auto;
}

.dropdown__menu {
    display: none;
    margin-top: 10px;
    position: absolute;
    top: 100%;
    left: 30px;
    padding: 3px;
    width: 157px;
    color: #000;
    background-color:rgba(237, 237, 237, .8);
    border-radius: 4px
}
.dropdown__link {
    font-size: 26px;
}
.dropdown__schedule {
    text-align: end;
    font-size: 13px;
    cursor: pointer;
}

.dropdown__menu::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -29px;
    height: 30px;
    /* background: red; */
}
.dropdown__item::after {
    content: "";
    position: absolute;
    top: -9px;
    left: 100px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(237, 237, 237, .8);
}
.dropdown:hover .dropdown__menu  {
    display: block;
}
.dropdown:hover .dropdown__schedule-bottom {
    border-bottom: 1px solid #fff;
}


/* .contact-info {
    position: relative;
    transform: translateY(29%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
}
.contact-info::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: 40px;
    height: 15px;
    width: 205px;
    background-color: red;
}
 .contact__popup {
    display: none;
    position: absolute;
    position: relative;
    top: 10px;
    left: 0;
    padding: 3px;
    width: 157px;
    color: #000;
    background-color:rgba(237, 237, 237, .8);
    border-radius: 4px;
    opacity: 0;
}
.contact__popup:after {
    content: "";
    position: absolute;
    top: -9px;
    left: 100px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(237, 237, 237, .8);
}

.contact-info:hover .contact__popup  {
    display: block;
    transition: opacity .3s linear;
}

.contact-info__link {
    font-size: 26px;
}

.contact-info__schedule {
    display: inline-block;
    font-size: 13px;
    cursor: pointer;

}

.contact-info__schedule:hover {
    border-bottom: solid #fff;
    border-bottom-width: 2px;
    transition: all .3s linear;
} */



/* HEADER  */

.header-page {
    min-height: 415px;
    background: url("./../../img/bg/bg-services.png")  center center/cover  no-repeat ;
}

.--header-row--pos-bottom {
    /* display: flex;
    align-items: center; */
    padding-top: 30px;
    margin-bottom: 58px;
}

.header-page__title {
    margin-bottom: 97px;
    font-size: 72px;
    font-weight: 700;
}

.breadcrumbs__navigation {
    padding-bottom: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #9a9a9a;
}
.breadcrumbs__list {
    display: flex;
}
.breadcrumbs__item {
    position: relative;
    
}
.breadcrumbs__item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    background-color: #9a9a9a;
    width: 53px;
    height: 1px;
}
.breadcrumbs__item:not(:last-child) {
    margin-right: 10px;
}
a[data-firstRef]::after {
    content: "/";
    position: absolute;
    top: 0;
    right: -7px;
}
a[data-secondtRef] {
    font-weight: 700;
}

/* HERO  */

.hero {
    min-height: 1200px;
    background: url("./../../img/bg/bg-header.png") no-repeat;

    background-position: center;
}

.hero-row {
    position: relative;
    top: 204px;
    left: 0;
    width: 511px;
}

.hero-row__title {
    margin-bottom: 28px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.35;
}

.hero-row__description {
    margin-bottom: -46px;
    font-size: 18px;
}

.--hero-pos {
    margin-top: 70px;
}

.tour__title {
    margin-bottom: 43px;
    font-size: 36px;
    font-weight: 700;
}

.tour__title::after {
    content: url("./../img/decor/flame.svg");
    margin-left: 12px;
    vertical-align: middle;
}

.tour-row {
    display: flex;
    column-gap: 27px;
}

.tour-card {
    max-width: 362px;
}

.tour-card__img {
    display: block;
}

.tour-card__content {
    padding-top: 33px;
    padding-left: 22px;
    padding-right: 16px;
    background-color: #fff;
}

.tour-card__title {
    margin-bottom: 17px;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.tour-card__condition {
    display: flex;
    margin-bottom: 20px;
    color: #666666;
}

.tour-card__condition-day {
    margin-right: 28px;
}

.tour-card__condition-day::before {
    content: url("./../img/decor/calendar.svg");
    margin-right: 10px;
    margin-left: 6px;
    vertical-align: middle;
}

.tour-card__condition-meal::before {
    content: url("./../img/decor/meal.svg");
    margin-right: 10px;
    vertical-align: middle;
}

.tour-card__description {
    font-size: 14px;
    margin-bottom: 23px;
    color: #303030;
}

.--tour-view {
    padding: 15px 30px;
    margin-bottom: 28px;
    color: #f5170e;
    background-color: #fff;
}

.--tour-view:hover {
    color: #fff;
    background-color: #f5170e;
}
/* HERO  */

/* union-blocks  */
.union-blocks {
  position: relative;
  margin-bottom: 953px;
}

.tour {
    position: absolute;
    top:  -421px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

/* union-blocks  */

/* NEWS  */
.news {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.news__title {
    margin-bottom: 51px;
    padding-top: 249px;
    font-size: 36px;
    font-weight: 700;
}

.news-row {
    display: flex;
    margin-bottom: 53px;
    column-gap: 25px;
}

.news-card__description {
    position: relative;
}

.news-card__description-common {
    position: absolute;
    left: 31px;
    bottom: 48px;
}

.--news-card--pos {
    bottom: 34px;
}

.news-card__description_top {
    margin-bottom: 11px;
    font-size: 14px;
}

.--card1-pos {
    margin-bottom: 20px;
}

.news-card__description_middle {
    font-size: 24px;
    font-weight: 700;
}

.news-card__description_bottom {
    padding-right: 44px;
    font-size: 16px;
}


/* NEWS  */

/* ABOUT  */

.about-row {
    position: relative;
    padding-bottom: 105px;
}

.about__img {
    margin-top: 27px;
}

.about-card {
        position: absolute;
        top: 126px;
        left: 353px;
}

.about-card__img {
    position: relative;
}

.about-card__content {
    position: absolute;
    max-width: 502px;
    top: 70px;
    left: 81px ;
}

.about-card__title {
    margin-bottom: 37px;
    color: #000;
    font-size: 36px;
    font-weight: 700;
}

.about-card__description {
    margin-bottom: 43px;
    color: #000;
}

/* ABOUT  */

/* FOOTER  */

.footer {
    background-color: #001821;
}

.footer-row {
    display: flex;
    align-items: center;
}

.social {
    margin-left: 274px;
    margin-right: 74px;
}

.social__list {
    display: flex;
    column-gap: 10px;
}

.social__item {
    width: 36px;
    height: 36px;
    overflow: hidden;
}

.social__item:hover {
    filter: invert(100%);
}

.bg-f {
    background: url('./../../img/social/css_sprites.png') -122px -10px;
}
.bg-in {
    background: url('./../../img/social/css_sprites.png') -178px -10px;
}
.bg-telegram {
    background: url('./../../img/social/css_sprites.png') -10px -10px;
}
.bg-vk {
    background: url('./../../img/social/css_sprites.png')  -66px -10px;
}

.footer-contact {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 58px;
    transform: translateY(50%);
    white-space: nowrap;
}

.footer-contact__text {
    padding-left: 29px;
    color: rgba(154, 154, 154, 1);
    font-size: 11px;
}

.footer-contact__link {
    font-size: 26px;
}

/* WELCOME PAGE  */
/* html {
    display: relative;
} */
.scrollNone {
    overflow: hidden;
}
.none {
    display: none;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background: url("./../../img/welcome/welcome.png") center bottom/cover no-repeat;
}
.modal__wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    text-align: center;
    animation: zooming 3s ease-in;
    animation-fill-mode: forwards;
}

.modal__text {
    margin-bottom: 50px;
}

@keyframes zooming {
    0% {
        transform: translate(-50%,-50%) scale(1.5);
    }
    25% { 
        transform: translate(-50%,-50%) scale(.7);
    }
    50% { 
        transform: translate(-50%,-50%) scale(1.3);
    }
    75% { 
        transform: translate(-50%,-50%) scale(.5);
    }
    100% { 
        transform: translate(-50%,-50%) scale(1);
    }
}

/* @import url("./../general.css");
@import url("./header.css");
@import url("./../page-navigation.css");
@import url("./footer.css"); */

/* EXCURSIONS  */

.excursions {
    padding-top: 100px;
    padding-bottom: 63px;
    background-color: #f2f2f2;
}

.excursions__card {
    display: flex;
    margin-bottom: 49px;
}

.excursions__img{
    margin-right: 56px;
}

.excursions__content {
    max-width: 652px;
    color: #303030;
}

.excursions__title {
    margin-bottom: 29px;
    color: #000;
    font-size: 36px;
    font-weight: 700;
}

.excursions__description {
    margin-bottom: 35px;
}

.--page-navigation--color-black{
    color: #000;
}

.--item-select::after {
    background-color: #f5170e;
}

.--item-select:hover {
    z-index: 10;
}

.--item-select:hover {
    color: #fff;
}

/* EXCURSIONS  */

/* PARTNERS  */

.partners {
    padding-top: 88px;
    padding-bottom: 117px;
    background-color: #f4f5f5;
}

.partners__title {
    margin-bottom: 79px;
    color: #000;
    font-size: 48px;
    font-weight: 700;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 74px;
    row-gap: 88px;
}
.partners__item:nth-child(4) {
    margin-left: auto;
}

/* PARTNERS  */

/* REVIEWS  */

.reviews {

    padding-top: 100px;
    padding-bottom: 65px;
    background-color: #f2f2f2;
}
.reviews-row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 26px;
    margin-bottom: 70px;
}
.reviews__card {
    padding: 50px 31px 33px 31px;
    width: 557px;
    background-color: #f4f5f5;
    border: .3px solid #000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.reviews__card:not(:last-child) {
    margin-bottom: 17px;
}
.reviews__card:hover {
    /* border: .3px solid #000;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .1s linear; */
}
.reviews__header {
    display: flex;
    align-items: center;
}
.reviews__img {
    margin-right: 22px;
}
.reviews__title {
    position: relative;
    margin-bottom: 3px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
}
.reviews__title:hover {
    color: #2e77a4;
    cursor: pointer;
    transition: color .3s linear;
}
.reviews__title:hover::before {
    width: 210px;
    transition: width .3s linear;
}
.reviews__title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #2e77a4;
}
.reviews__title::after {
    content: url("./../../img/section/reviews-vk.png");
    position: absolute;
    right: -37px;
    bottom: 0;
}
.location__item {
    display: inline-block;
    padding: 10px 18px;
    color: #303030;
    background-color: #b9eae4;
    border-radius: 35px;
}
.reviews__content {
    margin-bottom: 49px;
    padding-top: 42px;
    color: #818181;
}
.reviews__content-title {
    margin-bottom: 13px;
    color: #000;
    font-size: 30px;
    font-weight: 700;
}
.reviews__footer-data {
    color:  #1a1b1e;
    font-size: 14px;
    font-weight: 600;
}

/* REVIEWS  */

/* WISH  */
.wish {
    padding: 117px 0;
    min-height: 363px;
    background: url("./../../img/section/wish.png") center center/cover no-repeat;
}
.wish p {
    font-size: 48px;
    font-weight: 700;
}

/* WISH  */

/* FEEDBACK  */

.feedback {
    padding-top: 62px;
    padding-bottom: 96px;
    background-color: #f4f5f5;
}
.feedback__title {
    margin-bottom: 57px;
    color: #1a1b1e;
    font-size: 48px;
    font-weight: 700;
}
.input-group {
    display: flex;
    margin-bottom: 26px;
    column-gap: 28px;
}
input, textarea {
    border: none;
    border-radius: 5px;
}
textarea {
    resize: none;
}
input:focus,textarea:focus {
    outline: 1px solid red;
}
input {
    width: 557px;
    height: 65px;

}
input::placeholder {
    padding-left: 30px;
    font-size: 18px;
}
textarea {
    margin-bottom: 34px;
    width: 1142px;
    height: 235px;
}
textarea::placeholder {
    padding-left: 30px;
    font-size: 18px;
}
.form-text {
    display: flex;
    column-gap: 67px;
    row-gap: 9px;
    margin-bottom: 32px;
}
.used-service {
    width: 365px;
    color: #1a1b1e;
    font-size: 18px;
    white-space: nowrap;
}
.location {
    display: flex;
    flex-wrap: wrap;
    row-gap: 9px;
    column-gap: 8px;
    font-size: 13px;
}
.feedback .location__item {
    background-color: #e7e7e7;
}
.feedback .location__item:hover {
    background-color: #b9eae4;
    cursor: pointer;
    transition: background-color .3s linear;
}
.feedback .location__item:not(:last-child) {
    margin-right: 7px;
}
.feedback__button {
    display: flex;
    justify-content: flex-end;
}
button {
    padding: 18px 44px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background-color: #2b2b2b;
    border-radius: 35px;
    border: none;
}
button:not(:last-child) {
    margin-right: 17px;
}
button:hover {
    background-color: #f5170e;
    cursor: pointer;
    transition: background-color .3s linear;
}
.btn__sub {
    background-color: #f5170e;
    cursor: pointer;
}
/* FEEDBACK  */

.form__label input{
    display: none;
    width: unset;
    height: unset;
}

.form__label {
    font-size: 13px;
    font-weight: 400;
    color: #000;
}
.form__check {
    padding: 10px 12px;
}
input:checked ~.form__check {
    background-color: #b9eae4;
    border-radius: 35px;
}